
body{
  background-color: darkgrey;
  text-align: left;
  line-height: 1.0;
  font-weight: 400;;
  /* color: red; */
}

.active:hover{
  background-color: #0BADA6;
  color:white;
}
a {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.nav-link:hover{
  background-color: #0BADA6;
  color: white;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0BADA6;}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: inherit;
  background-color: aliceblue;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.col-lg-10 .col-md-10{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
}

.box{
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px 20px 20px;
  position: relative;
  margin: auto;
  color: black;
  background-color: white;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-top: 1%;
  color: #0BADA6;
  margin: auto;
  font-size: 1.5vw;
}

hr{
  border-top: 1px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
}
.visual{
  height: 55% !important;
  width: 55% !important;
  /* margin-left: 10%; */
  float: left !important;
  border-radius: .25rem !important;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}
img{
  vertical-align:middle;
  border-style: ridge;
  max-width:100% !important;
  max-height:100% !important;
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  color: dimgrey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.col-6{
  position: relative;
  padding-left: 2%%;
  padding-right: 2%;
  min-height: 2%;
  width: 100%;
  max-width: 50%;
  flex: 0 0 50%;
}

div{
  display: block;
}

.col-lg-7{
  position: relative;
  max-width: 100%;
  /* max-height: 100%; */
  min-height: 1px;
  margin-left: 25%;
}

img.mtemp{
  margin-left: 25%;
}